body {
  background-color: #FFFEF9;
}

.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo-container img {
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.about-image {
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.image-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-item {
  width: 30%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;  /* Ensure no overflow */
}

.image-item:hover {
  transform: scale(1.05);
}


/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-image {
  max-width: 80%;
  max-height: 80%;
}

/* Text inside overlay */
.expanded-image-text {
  position: absolute;
  top: 20px;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.footer-title {
  font-weight: 600;
  color: #1f2937;
}

.footer-subtitle {
  color: #6b7280;
  font-size: 0.875rem;
}

